.text-input {
  background-color: hsl(var(--clr-light-gray-300));
  border: none;
  color: hsl(var(--clr-dark-blue-300));
  padding: 1.6rem 1.5rem;
  border-radius: 5px;
}

.text-input:focus {
  outline-color: hsl(var(--clr-light-blue-400));
}

.text-input--error {
  box-shadow: inset 0 0 0 1px hsl(var(--clr-red));
}

.text-area {
  resize: none;
}

.input-container {
  position: relative;
}

.error-message {
  color: hsl(var(--clr-red));
  font-size: var(--fs-250);
  position: absolute;
  margin-top: 0.2rem;
}

@media (min-width: 768px) {
  .text-input {
    padding: 1.3rem 2.4rem;
  }

  .error-message {
    font-size: var(--fs-300);
  }
}